<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Lychee Documentation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

    <link rel="canonical" href="https://lycheeorg.github.io/docs/">

    <!-- Favicon -->
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png"> -->
    <link rel="icon" type="image/png" href="/assets/images/logo.png">
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png"> -->
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png"> -->
    <!-- <link rel="manifest" href="/img/favicon/site.webmanifest"> -->
    <!-- <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#ff2d20"> -->
    <!-- <link rel="shortcut icon" href="/img/favicon/favicon.ico"> -->
    <meta name="msapplication-TileColor" content="#ff2d20">
    <!-- <meta name="msapplication-config" content="/img/favicon/browserconfig.xml"> -->
    <meta name="theme-color" content="#ffffff">

    <!-- Load fonts -->
    <link rel="stylesheet" href="css/typekit/ins2wgm.css">

    <!-- Load styles -->
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link rel="stylesheet" type="text/css" href="css/prism.css">

    <!-- Load JS -->
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/prism.js"></script>

</head>

<body>

    <div class="sidebar_layout" id="docsScreen">

        <div class="page_contain">
            <div class="contain">
                <aside class="sidebar">
                    <a href="../" class="logo">
                        <img class="mark" src="/assets/images/logo.png" alt="Laravel">
                        <img class="type" src="img/Lychee.png" alt="Laravel">
                    </a>
                    <nav>
                        <div class="navigation_contain">
                            <div class="docs_sidebar">
                                <ul>
                                    {aside}
                                    <li class="laravel">
                                        <a href="https://laravel.com/docs/8.x"><h2>Laravel<img style="margin-left:4px;" src="img/external-link.svg" /></h2></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <div class="trigger_contain">
                        <a href="#" class="nav_trigger" aria-label="Menu">
                            <div class="bar"></div>
                        </a>
                    </div>
                </aside>

                <section class="body_content">
                    <section class="docs_body">
                        <section class="docs_main">
                            <h1>{title}</h1>
                            {toc}
                            <hr> {content}
                        </section>
                    </section>
                </section>
            </div>
        </div>

    </div>
</body>
<script src="js/app.js"></script>

</html>
