/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * scandia-line-web:
 *   - http://typekit.com/eulas/00000000000000007735db08
 *   - http://typekit.com/eulas/00000000000000007735db06
 *   - http://typekit.com/eulas/00000000000000007735db09
 * scandia-web:
 *   - http://typekit.com/eulas/00000000000000007735dd24
 *   - http://typekit.com/eulas/0000000000000000000158e4
 *   - http://typekit.com/eulas/0000000000000000000158e6
 *   - http://typekit.com/eulas/0000000000000000000158e7
 *   - http://typekit.com/eulas/0000000000000000000158e8
 * source-code-pro:
 *   - http://typekit.com/eulas/00000000000000007735dc06
 *   - http://typekit.com/eulas/00000000000000007735dc01
 *
 * © 2009-2022 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2021-03-22 16:00:55 UTC"}*/

@font-face {
font-family:"source-code-pro";
src:url("fonts/sourcecodepro.woff2") format("woff2");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"source-code-pro";
src:url("fonts/sourcecodeproitalic.woff2") format("woff2");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"scandia-line-web";
src:url("fonts/scandialine700.woff2") format("woff2");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"scandia-line-web";
src:url("fonts/scandialine500.woff2") format("woff2");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"scandia-line-web";
src:url("fonts/scandialine400.woff2") format("woff2");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"scandia-web";
src:url("fonts/scandia700.woff2") format("woff2");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"scandia-web";
src:url("fonts/scandia500.woff2") format("woff2");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"scandia-web";
src:url("fonts/scandia500italic.woff2") format("woff2");
font-display:auto;font-style:italic;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"scandia-web";
src:url("fonts/scandia400.woff2") format("woff2");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"scandia-web";
src:url("fonts/scandia400italic.woff2") format("woff2");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

.tk-source-code-pro { font-family: "source-code-pro",monospace; }
.tk-scandia-line-web { font-family: "scandia-line-web",sans-serif; }
.tk-scandia-web { font-family: "scandia-web",sans-serif; }
