:root,
::backdrop {
  --sl-color-accent-low: #082f49;
  --sl-color-accent: #0ea5e9;
  --sl-color-accent-high: #e0f2fe;

  --sl-color-white: #ffffff;
  --sl-color-gray-1: #e2e8f0;
  --sl-color-gray-2: #cbd5e1;
  --sl-color-gray-3: #94a3b8;
  --sl-color-gray-4: #475569;
  --sl-color-gray-5: #334155;
  --sl-color-gray-6: #1e293b;
  --sl-color-gray-7: #0f172a;
  --sl-color-black: #020617;

  --sl-font: 'InterVariable', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
}

.sl-markdown-content h2,
.sl-markdown-content h3 {
  position: relative;
}

.sl-markdown-content h2::before {
  font-size: 2.5rem;
  margin-left: -30px;
  margin-top: -4px;
}
.sl-markdown-content h3::before {
  font-size: 2rem;
  margin-left: -25px;
  margin-top: -2px;
}

.sl-markdown-content h2::before,
.sl-markdown-content h3::before {
  content: '#';
  font-weight: 400;
  position: absolute;
  color: var(--sl-color-accent);
}

:root[data-theme='light'],
[data-theme='light'] ::backdrop {
  --sl-color-accent-low: #e0f2fe;
  --sl-color-accent: #0284c7;
  --sl-color-accent-high: #0c4a6e;

  --sl-color-white: #020617;
  --sl-color-gray-1: #0f172a;
  --sl-color-gray-2: #1e293b;
  --sl-color-gray-3: #475569;
  --sl-color-gray-4: #94a3b8;
  --sl-color-gray-5: #cbd5e1;
  --sl-color-gray-6: #e2e8f0;
  --sl-color-gray-7: #f1f5f9;
  --sl-color-black: #ffffff;
}
