---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Prices from '~/components/widgets/Pricing.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import FeaturesList from '~/components/widgets/FeaturesList.astro';

const metadata = {
  title: 'Lyche SE - Unlock the full capabilities of Lychee with the Supporter Edition.',
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <Hero
    tagline="<span class='text-sky-600 dark:text-sky-300'></span>"
    title='<span class="text-5xl"> Lychee <span class="text-sky-600 dark:text-sky-300">SE</span></span>'
    subtitle="Unlock the full capabilities of <span class='font-bold text-black dark:text-white'>Lychee</span> with the <span class='text-sky-600 dark:text-sky-300 font-bold'>Supporter Edition</span>.<br>Get exclusive features and support the development of Lychee."
  >
  <Fragment slot="bg">

  <div class="relative w-full flex justify-center pt-0 md:pt-[76px]">
    <div class="shape-divider-bottom  hidden lg:block">
        <div class="h-4 sm:h-16 md:h-52 w-full bg-mix dark:bg-dark-mix"/>
        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 200" preserveAspectRatio="none" class="bg-bgDark2">
          <path d="M 0 50 C 150 150 300 0 500 80 L 500 0 L 0 0" class="shape-fill bg-white fill-sky-400 dark:bg-black dark:fill-sky-950" 
            fill="rgb(57, 27, 112)"></path>
          <path d="M 0 50 C 150 150 330 -30 500 50 L 500 0 L 0 0" class="fill-sky-100 dark:fill-sky-800" opacity="0.8"></path>
         <path d="M 0 50 C 215 150 250 0 500 100 L 500 0 L 0 0" class="fill-sky-50 dark:fill-sky-500" opacity="0.5"></path>
        </svg>
    </div>
  </div>
  </Fragment>
  </Hero>
  <!-- Pricing Widget ******************* -->

  <Prices
    classes={{container: 'pt-0 md:pt-0 lg:pt-0'}}
    prices={[
      {
        title: 'Free',
        subtitle: 'Optimal choice for personal use.',
        price: 'Free',
        period: 'per month',
        items: [
          {
            description: 'Unlimited users.',
          },
          {
            description: 'Unlimited albums.',
          },
          {
            description: 'Unlimited photos upload.',
          },
          {
            description: '',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Get started',
          href: 'https://github.com/LycheeOrg/Lychee',
        },
      },
      {
        title: '<span class="text-sky-600 dark:text-sky-300 font-bold">Supporter Edition</span>',
        subtitle: 'Optimal choice if you would like to support the development of Lychee.',
        price: 5,
        period: 'Per Month',
        items: [
          {
            description: 'Unlimited users.',
          },
          {
            description: 'Unlimited albums.',
          },
          {
            description: 'Unlimited photos upload.',
          },
          {
            description: 'Statistics on your library.',
          },
          {
            description: 'Upload quota per user.',
          },
          {
            description: 'more to come...',
            icon: 'tabler:question-mark',
            classes: {
              icon_bg: 'bg-neutral-400',
              icon: 'text-white',
              description: 'text-neutral-400',
            },
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Support us!',
          href: 'https://github.com/sponsors/LycheeOrg',
        },
        hasRibbon: true,
        ribbonTitle: 'popular',
      }
    ]}
  />

  <FeaturesList
    title="Full comparison"
    tagline="the essentials and a few more"
    products={['Free', 'Lychee <span class="text-sky-600 dark:text-sky-300">SE</span>']}
    extra="<sup>*</sup>A lot of default values are still in English. Any pull requests with translation to your own language would help.<br><sup>*</sup><sup>*</sup> This option is not available on <span class='text-sky-600 dark:text-sky-300'>SE</span> as they are already hidden."
    specs={[
      {
        feature: 'Global',
        isHeader: true,
      },
      {
        feature: '<span class="text-black dark:text-neutral-400/50 font-bold">Dark</span> and <span class="text-neutral-500 dark:text-neutral-100  font-bold">Light</span> themes',
        available: [true, true],
        isV6: true,
      },
      {
        feature: 'Unlimited photos upload',
        available: [true, true],
      },
      {
        feature: 'Unlimited number of albums',
        available: [true, true],
      },
      {
        feature: 'Unlimited number of users',
        available: [true, true],
      },
      {
        feature: 'Multiple languages supported<sup>*</sup>',
        available: [true, true],
      },
      {
        feature: 'Hide Lychee <span class="text-sky-600 dark:text-sky-300">SE</span> call for actions <sup>*</sup><sup>*</sup>',
        available: [true, false],
        isV6: true,
      },


      {
        feature: 'Photo management',
        isHeader: true,
      },
      {
        feature: 'Full sizes and other variants',
        available: [true, true],
      },
      {
        feature: 'Auto rotation on import',
        available: [true, true],
      },
      {
        feature: 'Exif Data decoding',
        available: [true, true],
      },
      {
        feature: 'GPS data localization',
        available: [true, true],
      },
      {
        feature: 'Zip & download',
        available: [true, true],
      },
      {
        feature: 'Upload by chunks',
        available: [true, true],
        isV6: true,
      },
      {
        feature: 'Slideshow',
        available: [true, true],
        isV6: true,
      },

      {
        feature: 'Album management',
        isHeader: true,
      },
      {
        feature: 'Smart albums',
        available: [true, true],
      },
      {
        feature: 'Unlimited photos per album',
        available: [true, true],
      },
      {
        feature: 'Albums within albums',
        available: [true, true],
      },
      {
        feature: 'Zip & download',
        available: [true, true],
      },
      {
        feature: 'Justified/Masonry/Square photo layouts',
        available: [true, true],
      },
      {
        feature: 'Slideshow with previous & next',
        available: [true, true],
        isV6: true,
      },
      {
        feature: 'Statistics data per album',
        available: [false, true],
        isV6: true,
      },
      {
        feature: 'Timeline view',
        available: [true, true],
        isV6: true,
      },

      {
        feature: 'Per Album customizations',
        isHeader: true,
      },
      {
        feature: 'Customizable sorting',
        available: [true, true],
      },
      {
        feature: 'Customizable Album covers',
        available: [true, true],
      },
      {
        feature: 'Customizable Album header photo',
        available: [true, true],
      },
      {
        feature: 'Customizable thumbs album aspect-ratio',
        available: [true, true],
      },
      {
        feature: 'Customizable photo layout',
        available: [true, true],
        isV6: true,
      },
      {
        feature: 'Customizable timeline',
        available: [false, true],
        isV6: true,
      },
      {
        feature: 'User management',
        isHeader: true,
      },
      {
        feature: 'Login with WebAuthn and Oauth',
        available: [true, true],
      },
      {
        feature: 'Access rights management per album',
        available: [true, true],
      },
      {
        feature: 'Cross-user sharing',
        available: [true, true],
      },
      {
        feature: 'Space usage per user',
        available: [false, true],
        isV6: true,
      },
      {
        feature: 'Upload quota per user',
        available: [false, true],
        isV6: true,
      },
      {
        feature: 'Admin note per user',
        available: [false, true],
        isV6: true,
      },

      {
        feature: 'Modules',
        isHeader: true,
      },
      {
        feature: 'Landing page',
        available: [true, true],
      },
      {
        feature: 'Map view',
        available: [true, true],
      },
      {
        feature: 'RSS Feed',
        available: [true, true],
      },
      {
        feature: 'Sensitive albums',
        available: [true, true],
      },
      {
        feature: 'Basic search functions',
        available: [true, true],
      },
      {
        feature: 'Frame display',
        available: [true, true],
      },

      {
        feature: 'Administration',
        isHeader: true,
      },
      {
        feature: 'Logs',
        available: [true, true],
      },
      {
        feature: 'API documentation',
        available: [true, true],
      },
      {
        feature: 'Diagnostics tools',
        available: [true, true],
      },
      {
        feature: 'Maintenance page',
        available: [true, true],
      },
      {
        feature: 'Duplicates Finding',
        available: [true, true],
        isV6: true,
        isSoon: true,
      },
      {
        feature: 'Full manual settings control',
        available: [true, true],
      },
      {
        feature: 'Statistics on your installation',
        available: [false, true],
        isV6: true,
      },
    ]}
  />

  <FAQs
  title="FAQs"
  subtitle="With the new <span class='font-bold dark:text-neutral-200'>Lychee <span class='text-sky-600 dark:text-sky-300'>SE</span></span> coming soon, we understand that you must have some questions. We try to answer some of them here."
  columns={1}
  items={[
    {
      title: 'What is the difference between the Free and Supporter Edition?',
      description:
        'The <span class="font-bold dark:text-neutral-200">Free</span> Edition is a great choice for personal use, offering unlimited albums, users, and photo uploads.<br/> \
        <span class="font-bold dark:text-neutral-200">Lychee</span> <span class="text-sky-600 dark:text-sky-300 font-bold">SE</span> includes all the features of the Free Edition, plus some exclusive features as a thank-you for supporting the development of Lychee.',
    },
    {
      title: 'I am running an old version of Lychee and I want to upgrade to version 6.<br>Will I be losing features if I do not use the Supporter Edition?',
      description:
        '<span class="dark:text-neutral-200 font-semibold">No</span>. The version 6 of Lychee is pretty much the same as version 5 but with a different front-end. It is faster, more fluid, more reactive, and less buggy. \
        The Free version 6 has not been crippled to incentivise you to upgrade to <span class="font-bold dark:text-neutral-200">Lychee</span> <span class="text-sky-600 dark:text-sky-300 font-bold">SE</span>. We are not in that kind of mindset. We want you to use Lychee, and we want you to be happy with it.',
    },
    {
      title: 'Is there a trial period for the Supporter Edition?',
      description:
        'Unfortunately, we do not offer trial periods nor refunds. For this reason we recommend that you try the Free Edition first to see if Lychee fits your needs as it already comes packed with a lot of features.',
    },
    {
      title: 'How do I get the Supporter Edition? How do I register it?',
      description:
        "Once you support us via GitHub, you will get a personal license key that you can use in your Lychee instance to unlock the exclusive features.\
        If you support us directly via Open Collective, please contact us by mail or via discord to get your personal license key.<br/><br/>\
        Once you have your license key, just go into the <span class='font-semibold dark:text-neutral-300'>Left menu</span>, open the <span class='font-semibold dark:text-neutral-300'>About Lychee</span> dialog, and enter your license key in the dedicated field.",
    },
    {
      title: 'Is there a limit on the number of Lychee instances I can use my license key on?',
      description:
        '<span class="dark:text-neutral-200 font-semibold">No</span>. You can use your personal license key on as many instances of Lychee as you have.',
    },
    {
      title: 'I want to contribute to Lychee, where does my code fall between the Free and the Supporter Edition?',
      description:
        "That is a good question, and it really boils down to what you are adding/modifying. Our general rule of thumb is that:\
        <ul class='list-disc list-inside text-muted'>\
        <li class='mt-3 sm:mt-1.5'>if you are <span class='font-bold dark:text-neutral-200'>adding a new feature</span> to Lychee that is not already part of the core, \
        we will include it in the <span class='font-bold dark:text-neutral-200'>Free Edition</span>.</li>\
        <li class='mt-3 sm:mt-0'>If you are <span class='font-bold dark:text-neutral-200'>improving a feature</span> that is part of the <span class='font-bold dark:text-neutral-200'>Free Edition</span>, that improvement will be included in the <span class='font-bold dark:text-neutral-200'>Free Edition</span>.</li>\
        <li class='mt-3 sm:mt-0'>If you are <span class='font-bold dark:text-neutral-200'>improving a feature</span> that is part of <span class='font-bold dark:text-neutral-200'>Lychee</span> <span class='text-sky-600 dark:text-sky-300 font-bold'>SE</span>, that feature will have to stay in <span class='font-bold dark:text-neutral-200'>Lychee</span> <span class='text-sky-600 dark:text-sky-300 font-bold'>SE</span>.</li>\
        </ul>\
        <p class='text-muted mt-3 sm:mt-1.5'>It is as simple as that and any other way would not be fair to our users.</p>"
    },
    {
      title: 'Is there a different code license between the Free and the Supporter Edition?',
      description:
        'No. <span class="dark:text-neutral-200 font-semibold">The license is the same</span> for both editions: the <a href="/license" class="text-default hover:text-sky-600 hover:dark:text-sky-300">MIT license</a>.\
        Lychee remains fully Open Source. And as crazy at it sounds, the code of the Supporter Edition is fully available on GitHub.',
    },
    {
      title: 'I no longer use Lychee, how do I stop my subscription?',
      description:
        'You can manage your sponsorship subscription directly on GitHub. Read more about it on the <a href="https://docs.github.com/en/billing/managing-billing-for-your-products/managing-billing-for-github-sponsors/downgrading-a-sponsorship" class="text-default hover:text-sky-600 hover:dark:text-sky-300">GitHub documentation</a>.',
    }
    // {
    //   title: 'Do the plans come with customer support?',
    //   description:
    //     'Absolutely, all plans include access to our dedicated customer support to assist you with any queries or concerns.',
    // },
    // {
    //   title: 'What payment methods do you accept?',
    //   description:
    //     'We accept major credit cards and online payment methods to ensure a convenient and secure transaction process.',
    // },
  ]}
/>
</Layout>
