@font-face {
    font-family:"Source Sans Pro";
    src:url("../../docs/fonts/source-sans-pro-v21-latin-regular.woff2") format("woff2");
    font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
    font-family:"Source Sans Pro";
    src:url("../../docs/fonts/source-sans-pro-v21-latin-600.woff2") format("woff2");
    font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
}

*,
:after,
:before {
    box-sizing: border-box
}

html {
    width: 100%;
    height: 100%
}

body {
    margin: 0;
    display: block;
    min-height: 100%;
    background: #eee;
    font: normal 400 18px/1.5 "Source Sans Pro";
    -webkit-text-size-adjust: 100%;
	font-family: "Source Sans Pro", sans-serif;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

@media (max-width:960px) {
    body {
        font-size: 16px
    }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: rgba(0, 0, 0, .7);
    font-weight: 300;
    text-rendering: optimizeLegibility;
    line-height: 1.3
}

.h1,
h1 {
    margin-bottom: .67em;
    font-size: 2em
}

.h2,
h2 {
    margin-bottom: .75em;
    font-size: 1.5em
}

.h3,
h3 {
    margin-bottom: .83em;
    font-size: 1.17em
}

.h4,
h4 {
    margin-bottom: 1em;
    font-size: 1em
}

.h5,
h5 {
    margin-bottom: 1.5em;
    font-size: .83em
}

.h5,
.h6,
h5,
h6 {
    text-transform: uppercase
}

.h6,
h6 {
    margin-bottom: 1.67em;
    font-size: .75em
}

address,
label,
ol,
p,
ul {
    margin: 0;
    margin-bottom: 1em;
    color: rgba(0, 0, 0, .5);
    font-style: normal
}

b,
strong {
    font-weight: 700
}

em,
i {
    font-style: italic
}

a {
    color: #2293ec
}

a:hover {
    color: #399eee
}

a:active {
    color: #1386e1
}

hr {
    margin: 0;
    margin-bottom: 1em;
    height: 1px;
    background: rgba(0, 0, 0, .5);
    border: 0
}

.wrap {
    margin: 0 auto;
    max-width: 1270px;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2)
}

.spacing-top,
.spacing-top-l,
.spacing-top-m {
    margin-top: 1em
}

.spacing-top-s {
    margin-top: 0
}

.spacing-right,
.spacing-right-l,
.spacing-right-m {
    margin-right: 1em
}

.spacing-right-s {
    margin-right: 0
}

.spacing-bottom,
.spacing-bottom-l,
.spacing-bottom-m {
    margin-bottom: 1em
}

.spacing-bottom-s {
    margin-bottom: 0
}

.spacing-left,
.spacing-left-l,
.spacing-left-m {
    margin-left: 1em
}

.spacing-left-s {
    margin-left: 0
}

.align--left {
    text-align: left
}

.align--right {
    text-align: right
}

.align--center {
    text-align: center
}

.btn {
    padding: .66667em 1.2em;
    font-size: 1em;
    line-height: 1em;
    text-decoration: none;
    border-radius: 4px;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.btn--grey {
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .5)
}

.btn--grey,
.btn--grey:active,
.btn--grey:hover {
    color: rgba(0, 0, 0, .6)
}

.btn--blue {
    background-image: linear-gradient(150deg, #3ea1ee, #1384dc);
    background-size: 300% 100%;
    background-position: 50% 0;
    background-repeat: no-repeat;
    color: #fff;
    transition: background-position .3s cubic-bezier(.51, .92, .24, 1)
}

.btn--blue:hover {
    background-position: 0 0;
    color: #fff
}

.btn--blue:active {
    background-position: 100% 0;
    color: #fff
}

.window {
    border-radius: 6px 6px 0 0;
    box-shadow: 0 18px 25px 10px rgba(0, 0, 0, .2);
    border: 1px solid rgba(0, 0, 0, .2)
}

.window__bar {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 8px 12px;
    background: linear-gradient(180deg, #efefef, #dadada);
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid #b4b4b4;
    box-shadow: inset 0 1px 1px hsla(0, 0%, 100%, .8)
}

.window__bar,
.window__dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.window__dots {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 0 4px 0 2px
}

.window__dot {
    margin: 0 8px 0 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1)
}

.window__dot--red {
    background: #ff6057
}

.window__dot--orange {
    background: #ffbd2e
}

.window__dot--green {
    background: #27c93f
}

.window__menuitem {
    padding: 0 4px;
    height: 23px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .15)
}

.window__button {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 0 1px 0 0;
    line-height: 26px
}

.window__button svg {
    margin: 2px 0 0
}

.window__button svg path {
    fill: rgba(0, 0, 0, .35)
}

.window__adress {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    margin: 0 auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 500px;
    color: rgba(0, 0, 0, .9);
    font-family: Helvetica Neue, Helvetica;
    font-size: 12px;
    text-align: center
}

.window__adress svg {
    position: absolute;
    top: 1px;
    right: 2px
}

.window__adress svg path {
    fill: rgba(0, 0, 0, .6)
}

.window__content {
    display: block;
    background: #1d1d1d
}

@media (min-width:641px) {
    .hidden__desktop {
        display: none
    }
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .8em 2em .9em;
    width: 100%;
    background: rgba(0, 0, 0, .1)
}

@media (max-width:640px) {
    .header {
        padding-left: 6%;
        padding-right: 6%
    }
}

.header__column {
    width: 100%
}

@media (max-width:640px) {
    .header__column:last-child {
        display: none
    }
}

.header__headline,
.header__text {
    color: #fff;
    margin-bottom: 0
}

.header__headline {
    font-size: 1.1em
}

.header__headline a {
    color: currentColor;
    text-decoration: none
}

.header__headline span {
    padding-left: .25em;
    color: hsla(0, 0%, 100%, .5)
}

.header__text {
    font-size: 1em
}

.header__text a {
    margin-left: 2em;
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.hero {
    width: 100%;
    background: linear-gradient(150deg, #061827, #2293ec)
}

.hero__inner {
    padding: 5% 0 0 6%;
    overflow: hidden
}

.hero__inner .window {
    margin: 0 0 -40px;
    border-top-right-radius: 0;
    border-right: 0
}

@media (max-width:640px) {
    .hero__inner .window {
        margin-bottom: -160px
    }
}

.hero__inner .window__bar {
    border-top-right-radius: 0
}

.introduction {
    padding: 5em 17%;
    text-align: center
}

@media (max-width:960px) {
    .introduction {
        padding-left: 10%;
        padding-right: 10%
    }
}

@media (max-width:640px) {
    .introduction {
        padding-left: 6%;
        padding-right: 6%;
        text-align: left
    }
}

.introduction__buttons {
    margin: 2.5em 0 1em
}

.introduction__buttons .btn {
    margin: 0 .33333em
}

@media (max-width:640px) {
    .introduction__buttons .btn {
        margin: 0
    }
}

.features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5em 2%
}

@media (max-width:640px) {
    .features {
        display: block
    }
}

.features--gradient {
    border-top: 1px solid rgba(0, 0, 0, .06);
    background: linear-gradient(180deg, #f7f7f7, #fff)
}

.features__feature {
    padding: 0 4%;
    text-align: center;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    width: 100%
}

@media (max-width:640px) {
    .features__feature {
        margin-bottom: 3em
    }
}

.features__feature:nth-child(2) {
    border-right: 1px solid rgba(0, 0, 0, .1);
    border-left: 1px solid rgba(0, 0, 0, .1)
}

@media (max-width:640px) {
    .features__feature:nth-child(2) {
        border: 0
    }
}

.features__icon {
    display: inline-block;
    width: 60px;
    height: 60px
}

.features__icon--eye {
    margin-top: -7px;
    width: 74px;
    height: 74px
}

.features__icon--eye+.features__headline {
    margin-top: -7px
}

.features__icon--tag {
    margin-top: 4px;
    width: 52px;
    height: 52px
}

.features__icon--tag+.features__headline {
    margin-top: 4px
}

@media (max-width:640px) {
    .features__icon {
        width: 50px;
        height: 50px
    }
}

.features__icon svg {
    width: 100%;
    height: 100%;
    fill: rgba(0, 0, 0, .6)
}

.features__text {
    text-align: left
}

.showcase {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin: -2em 0;
    overflow: hidden
}

@media (max-width:740px) {
    .showcase {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

.showcase .window {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 2em 0 3em;
    border-top-left-radius: 0;
    border-bottom-right-radius: 6px;
    border-left-width: 0
}

.showcase .window__bar {
    border-top-left-radius: 0
}

.showcase .window__adress {
    margin: 0
}

.showcase .window__content {
    border-bottom-right-radius: 6px
}

.showcase__features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    width: 100%;
    min-width: 400px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

@media (max-width:960px) {
    .showcase__features {
        min-width: 350px
    }
}

@media (max-width:740px) {
    .showcase__features {
        display: none
    }
}

.showcase__feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 2em 0;
    width: 300px;
    text-decoration: none
}

@media (max-width:960px) {
    .showcase__feature {
        width: 250px
    }
}

.showcase__point {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 0 1.5em 0 0;
    padding: 3px 0 0;
    width: 2.2em;
    height: 2.2em;
    color: rgba(0, 0, 0, .6);
    line-height: 0;
    border: 2px solid rgba(0, 0, 0, .5);
    border-radius: 100%
}

.showcase__feature--active .showcase__point {
    color: #2293ec;
    border: 2px solid currentColor
}

.showcase__text {
    margin-bottom: 0;
    width: 100%
}

.madefor {
    position: relative;
    padding: 6em 6%;
    width: 100%;
    overflow: hidden
}

.madefor__bg {
    position: absolute;
    top: -10%;
    left: 0;
    width: 100%;
    height: 120%;
    background-image: url(../images/photographers.jpg);
    background-size: cover
}

.madefor__content {
    position: relative;
    max-width: 50%;
    z-index: 1
}

.madefor__content .h1,
.madefor__content .h2,
.madefor__content .h3,
.madefor__content .h4,
.madefor__content .h5,
.madefor__content .h6,
.madefor__content address,
.madefor__content h1,
.madefor__content h2,
.madefor__content h3,
.madefor__content h4,
.madefor__content h5,
.madefor__content h6,
.madefor__content label,
.madefor__content ol,
.madefor__content p,
.madefor__content ul {
    color: #fff
}

.madefor__content>:last-child {
    margin-bottom: 0
}

@media (max-width:640px) {
    .madefor__content {
        max-width: 100%
    }
}

.support {
    text-align: center;
    padding: 3em 2% 5em
}

.donate__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.donate__paypal {
    margin: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0
}

.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 6%;
    padding: 1em 0;
    width: 88%;
    font-size: .9em;
    border-top: 1px solid rgba(0, 0, 0, .1)
}

@media (max-width:1024px) {
    .footer {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
}

.footer__column:first-child {
    width: 25%
}

.footer__column:last-child {
    width: 75%
}

@media (max-width:1024px) {
    .footer__column:first-child,
    .footer__column:last-child {
        width: 100%
    }
}

@media (max-width:1024px) {
    .footer .align {
        text-align: left
    }
}

.footer .footer__link {
    text-decoration: none
}

.footer .footer__link:after {
    content: "/";
    padding: 0 .25em 0 .5em;
    color: rgba(0, 0, 0, .15)
}

.footer .footer__link:last-child:after {
    display: none
}

.donations {
    text-align: center;
}

.f_p {
        margin-bottom: 50px;
}

.contributors {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    min-height: 100px;
    margin-bottom: 0px;
    position:relative;
}

.contributors_list {
	margin-bottom: 100px;
}

.contributors:nth-child(odd) {
    background-color: #FFFFFF;
}
.contributors:nth-child(even) {
    background-color: #EEEEEE;
}

.contributors span {
    display: inline-block;
    /* margin-left: 10px; */
}

.contributors .badge {
    position: absolute;
    top: 20px;
    right: 50px;
    border-radius:2rem;
    font-weight:700;
    padding-left: 1rem;
    padding-right:1rem;
}

.contributors span img {
    height: 20px;
    margin-bottom: -4px;
}

.avatar {
    margin-top: 5px;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 50%;
}

.donate, .donate:hover, .donate:focus {
    display: inline-block;
    border-radius: 5px;
    background: #ff922b;
    height: 30px;
    width: 100px;
    padding: 0;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    padding-top: 1px;
    padding-bottom: 1px;
}

.donate:hover {
    background-color: #f76707;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  .donations {
    padding: 1em 0;
  }

  .f_p {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .donations {
    padding: 1em 0;
  }
  .contributors {
      padding-left: 80px;
      padding-right: 80px;
    }

    .contributors .badge {
        right: 80px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 800px) {
  .donations {
      padding: 5em 17%;
  }
  .contributors {
      padding-left: 80px;
      padding-right: 80px;
    }

    .contributors .badge {
        right: 80px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .contributors {
      padding-left: 100px;
      padding-right: 100px;
    }

    .contributors .badge {
        right: 100px;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .contributors {
      padding-left: 150px;
      padding-right: 150px;
    }

    .contributors .badge {
        right: 150px;
    }
    
}
