---
import Image from '~/components/common/Image.astro';
import { SITE } from 'astrowind:config';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-3xl md:text-2xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <Image src={'~/assets/images/logo.png'} alt={'logo'} class={'inline max-w-10 max-h-10'} />
  {SITE?.name}
</span>
