---
import { twMerge } from 'tailwind-merge';

const { tag = 'Soon', classes = {} } = Astro.props;
---

<span class={twMerge("rounded-full text-xs text-white bg-sky-600 dark:text-neutral-200 dark:bg-sky-900 px-2 shadow-sm shadow-black/20 ml-2", classes)}><Fragment set:html={tag} /></span>